<nav> 
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">NgBot</a>
  <a [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" href="http://thelillysblog.com/" target="_blank">Blog</a>
  <a [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" href="https://twitter.com/lili_vs " target="_blank">Twitter</a>
  <a [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" href="https://github.com/lilia-simeonova"target="_blank">GitHub</a>
</nav>
