
<div class="wrapper">
	<div class="page">
		<chat-box></chat-box>
		<div class="left">
			<div class="instructions">
				<h2>Overview</h2>
				<hr><br>
				<div>The NgBot is designed to help you learn Angular! </div>
				<br>
				<div>It knows the whole Angular documentation and can answer differenet questions about it.</div>
			</div>	
			<div class="examples">
				<div>
					<h2>Examples</h2>
					<hr><br>
					<div>
					You can ask different things about Angular and learn how some of Angular 1 concepts and techniques map to Angular 2. Here are some examples:
					</div>
					<ul>
						<li>What is Angular?</li>
						<li>Tell me about directives.</li>
						<li>What is the equivalent of ng-if in the new version of Angular? </li>
					</ul>
				</div>		
			</div>	
		</div>
	</div>
</div>



