body { overflow-x: hidden; }

.chat {
  max-width: 650px;
  min-width: 600px;
  /*height: 650px;*/
  /*margin: 5% auto; */ 
  background-color: #fff;
  border: 2px solid #e1e1e1;
  margin: auto;
  /*margin-top: 50px;*/
  text-align: left;
  margin-bottom: 10px;
  /*overflow: auto;*/
}

.header {
  background-color: #106cc8;
  padding: 1px 20px;
  color: #fff;
}

.question input {
  padding: 5px;
  margin: 10px 15px;
  width: calc(100% - 110px);
  min-width: 48px;
}
/*.container {
  background-color: #A0A0A0;
}*/
.result { 
  background-color: #ECECEC;
  margin:10px 10px;
  max-width: 500px;
  padding: 10px 5px;
  border-radius: 10px;
}
.conversation {
  overflow-y: auto;
  height: 350px;
}
.askedQuestion {
  max-height: 200px;
  background-color: #BDD8DA;
  padding: 10px 5px;
  max-width: 400px;
  margin-left: 70px;
  border-radius: 10px;
}
.ask {
  width: 65px;
  text-align: center;
  padding: 0 0;
}
.typing-container {
  width: 50px;
  height: 25px;
  margin-left: 3px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 500px;
}

.typing-indicator {
  width: 13px;
  height: 10px;
  background-color: #B5B5B5;
  border-radius: 13px;
  margin-top: 10px;
  margin-left: 3px;
  animation: 2s jump infinite;
}

.typing-indicator:nth-of-type(1) {
  animation-delay: 0s;
}

.typing-indicator:nth-of-type(2) {
  animation-delay: 0.1s;
}

.typing-indicator:nth-of-type(3) {
  animation-delay: 0.2s;
}

@keyframes jump {
  0% {
    margin-top: 10px;
  }
  10% {
    margin-top: 0px;
  }
  20% {
    margin-top: 10px;
  }
  100% {
    margin-top: 10px;
  }
}
.feedback {
	background-color: none;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.buttons {
	height: 100%;
  text-align: center;
}
.text {
	color: #000;
	padding-top:10px;
  text-align: center;
}

button:focus {
	outline: none;
}

.buttons button {
  margin-right:5px;
}

@media only screen and (max-width: 500px) {
  :host {
    display: inline-block;
    width: 100%;
  }
  .chat {
    width: 100%;
    max-width: 100%;
    min-width: 200px;
  }
}